<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>pOGICAL</title>
        <script src=" https://cdn.jsdelivr.net/npm/d3@7.9.0/dist/d3.min.js"></script>
        <script src=" https://cdn.jsdelivr.net/npm/d3-graphviz@5.6.0/build/d3-graphviz.min.js"></script>
    </head>
    
    <body>
        <form method="post">
            <input type="text" name="logic_statement_string" placeholder="Enter logical expressions" required>
            <input type="submit" value="Simplify" id="simply">
        </form>
        <br>
        <pre>{{ logic_statement_string }}</pre>
        <pre>{{ sympy_expression }}</pre>
        <div id="graph1"></div>
        <script>
            d3.select("#graph1")
              .graphviz()
              .renderDot(`{{ sympy_expression_dot | safe }}`);
                // Must use backticks `` to avoid synatx errors during injection through Jinja2!
                // If '' or "" are used instead, JavaScript will break up the string when it shouldn't
                // TODO: switch to reading the graphviz file!
        </script>
        <pre>{{ simplification }}</pre>
        <div id="graph2"></div>
        <script>
            d3.select("#graph2")
              .graphviz()
              .renderDot(`{{ simplification_dot | safe }}`);
        </script>
    </body>

</html>