<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>pOGICAL</title>
        <script src=" https://cdn.jsdelivr.net/npm/d3@7.9.0/dist/d3.min.js"></script>
        <script src=" https://cdn.jsdelivr.net/npm/d3-graphviz@5.6.0/build/d3-graphviz.min.js"></script>
    </head>
    
    <body>
        <form method="post">
            <input type="text" name="input_string" placeholder="Enter logical expressions" required>
            <input type="submit" value="Simplify" id="simply">
            <input type="checkbox" name="implicit_conjunctions" id="implicit_conjunctions">
            <label for="implicit_conjunctions">Implicit Conjunctions</label>
        </form>
        <br>
    {% block output %}
    {% endblock %}
    </body>

</html>